{% extends '_layouts/cp' %}
{% set navigation = craft.app.plugins.getPlugin('navigation') %}
{% do view.registerAssetBundle("Developion\\Core\\web\\assets\\cp\\Core") %}
{% if navigation %}
	{% do view.registerAssetBundle("verbb\\navigation\\assetbundles\\NavigationAsset") %}
{% endif %}

{% if title is not defined %}
	{% set title = developion.getPluginName() %}
{% endif %}

{% set content %}
	{% block blockContent %}{% endblock %}
{% endset %}
